{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/password-reset?token={{ token }}" method="post" class="align-content-md-center position-absolute top-50 start-50 translate-middle">
        <!-- <input type="hidden" name="token" value="{{ token }}"> -->
        <div class="mb-3">
            <input autocomplete="off" id="pass" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" id="confirmPass" class="form-control mx-auto w-auto" name="confirmation" placeholder="Repeat Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Reset</button>
    </form>
{% endblock %}