{% extends "layout.html" %}

{% block title %}
    Password reset request
{% endblock %}

{% block main %}
    <form action="/password-reset-request" method="post" class="align-content-md-center position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <button class="btn btn-primary" type="submit">Request Password reset</button>
    </form>
{% endblock %}