{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <input id="username" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" value="{{ username }}">
        </div>
        <div class="mb-3">
            <input id="username" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" value="{{ email }}">
        </div>
        <div class="mb-3">
            <div class="text-white bg-dark mb-3">Password should be between 4 - 15 characters in length.</div>
            <input autocomplete="off" id="pass" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" id="confirmPass" class="form-control mx-auto w-auto" name="confirmation" placeholder="Repeat Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}